@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


* {
    margin: 0;
    background-color: cornsilk;
}


.intro {
    height: 30vh;
    font-family: 'Bakbak One';
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 17vw;
    background-image: url(../Resources/Secrets-Image-1lr-crop-b&w.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2:hover {
   
    background-image: url(../Resources/Secrets-Image-1lr-crop.jpg);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: pointer;
}

.photo {
    width: 80%;
    margin: auto;
    position: relative;
}

.photo img {
    max-width: 100%;
    display: block;
}

.color-cow {
    position: absolute;
    inset: 0;
    background-image: url(../Resources/IMAG2137-edited.jpg);
    background-size: cover;

    -webkit-mask-image: url(../Resources/image-mask.png);
    mask-image: url(../Resources/image-mask.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: 0% 0%;
    mask-position: 0% 0%;

    transition: 
        -webkit-mask-position 1100ms steps(24);
}

.color-cow:hover {
    -webkit-mask-position: 100% 0%;
    mask-position: 100% 0%;
}